@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

:root {
    /* Basics */
    --black: #0B0B0B;
    --white: #efeded;
    --heavy-shadow: rgba(0, 0, 0, .8);
    --light-shadow: rgba(0, 0, 0, .45);

    /* Color Palette */
    --gray: #343740;
    --light-gray: #8F96A6;
    --dark-gray: #0c0c0c;
    --green: #498C3F;
    --light-green: #5DBF4E;
    --dark-green: #173613;

    /* Fonts */
    --text-font: 'Roboto', sans-serif;
    --highlight-font: 'Lexend Deca', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*::after, *::before {
    box-sizing: border-box;
}

html {
    width: 100vw;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

/* -------------- Header && Content -------------------- */
header {
    height: 12vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 6%;

    background-color: var(--dark-gray);

    z-index: 5;

    box-shadow: 0 .1em 1.5em .25em var(--heavy-shadow);
}

#logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4em;

    text-decoration: none;
}

#logo a i {
    color: var(--green);
    font-size: 4em;
}

#logo a span {
    font-size: 2em;
    font-family: var(--highlight-font);
    font-weight: 600;

    color: var(--white);

    text-transform: uppercase;
}

#menu ul {
    display: flex;
    list-style: none;
    gap: 3.5vw;
}

#menu ul li a {
    font-family: var(--text-font);
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: .8px;
    text-decoration: none;

    color: var(--white);

    transition: 400ms;
}

#menu ul li a:hover {
    color: var(--black);
    background-color: var(--white);

    border-radius: .4em;
    padding: 1em;
}

#login-button {
    color: var(--black);
    background-color: var(--light-green);
}

#login-button:hover {
    background-color: var(--dark-green);
    color: var(--white);
}
/* ------------------------------------------------- */
/* ------------------------------------------------- */
.button_style {
    font-family: var(--highlight-font);
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;

    padding: .8em 3em;
    border: none;
    border-radius: .4em;

    cursor: pointer;

    transition: 400ms;
}
/* ------------------------------------------------- */

/* ------------ Presentation section -------------- */
#presentation_section {
    background-image: url(../assets/imgs/slide/bitcoin.jpg);
    background-position: center center;
    background-size: cover;
    height: auto;
    width: 100%;

    animation: slideshow 12s infinite ease-in-out;
    transition: 400ms;
    z-index: 4;
    box-shadow: 0 .25em .8em .5em var(--light-shadow);
}

#presentation_section #presentation_content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;

    padding: 8em 15%;

    backdrop-filter: brightness(.15) contrast(105%);
}

#alert-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2em;

    width: 55%;

}

#alert-text h1 {
    font-family: var(--highlight-font);
    font-weight: 700;
    font-size: 2.2em;

    color: var(--white);

    animation: pulse 2.5s infinite ease;
}

#alert-text h1 i {
    font-size: .8em;
    color: var(--light-green);
}

#alert-text p {
    font-family: var(--text-font);
    font-size: 1.1em;
    font-weight: 500;

    text-align: left;

    color: var(--light-gray);
}

#alert-text button {
    display: flex;
    align-items: center;

    font-family: var(--highlight-font);
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: var(--black);
    background-color: var(--light-green);

    padding: .8em 4em;
    border: none;
    border-radius: .4em;

    cursor: pointer;

    transition: 400ms;
}

#alert-text button i {
    font-size: 1.2em;
    margin-left: .4em;
}

#alert-text button:hover {
    background-color: var(--dark-green);
    color: var(--white);
}

@keyframes slideshow {
    25% {
        background-image: url(../assets/imgs/slide/money-real.jpg);
    }
    50% {
        background-image: url(../assets/imgs/slide/money-dolar-1.jpg);
    }
    75% {
        background-image: url(../assets/imgs/slide/money-dolar-2.jpg);
    }
    100% {
        background-image: url(../assets/imgs/slide/bitcoin.jpg);
    }
}
/* ------------------------------------------------- */

/* ----------- Section Container Class ------------ */
.section_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4em;

    height: auto;
    width: 100%;

    padding: 4em 10% 6em 10%;
}

.section_title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.section_title_container h2 {
    font-size: 2.2em;
    font-family: var(--highlight-font);
    font-weight: 600;
}

.section_title_container p {
    font-family: var(--text-font);
    font-size: 1.1em;

    padding-inline: 2em;

    text-align: center;
}

.section_title_container p span {
    font-family: var(--text-font);
    font-weight: 500;
}
/* ------------ HowWorks Section ----------------- */
#howworks_section {
    background-color: var(--white);
    box-shadow: 0 .25em .8em .5em var(--light-shadow);
    z-index: 3;
}

#howworks_title h2 {
    color: var(--black);
}

#howworks_title p {
    color: var(--gray);
}

#howworks_title p span {
    color: var(--dark-gray);
}

#howworks_steps {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
    width: calc(100% - 20%);
}

#howworks_steps:has(.step_card:hover) .step_card:not(:hover) {
    filter: grayscale(1);
    transform: scale(0.9);
}

.step_card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2em;

    height: auto;
    width: 20%;

    transition: 500ms;
    margin-bottom: auto;
}

.step_card:hover {
    transform: scale(1.1);
}

.card_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8em;
    width: 8em;

    background-color: var(--dark-gray);
    box-shadow: 0 0 .8em .25em var(--light-shadow);

    border-radius: 50%;

    animation: glow 3s infinite;

    transition: 500ms;
}

.card_icon i {
    font-size: 4em;

    color: var(--light-green);
}

.step_card h3 {
    font-family: var(--highlight-font);
    font-size: 1.2em;
    font-weight: 600;

    text-align: center;
    
    color: var(--dark-gray);
}

.step_card p {
    font-family: var(--text-font);
    font-weight: 400;
    font-size: .9em;

    text-align: center;
}

@keyframes glow {
    25% {
        box-shadow: 0 0 24px 4px var(--dark-green);
    }
    50% {
        box-shadow: 0 0 24px 6px var(--green);
    }
    75% {
        box-shadow: 0 0 24px 8px var(--light-green);
    }
    100% {
        box-shadow: 0 0 24px 4px var(--light-shadow);
    }
}
/* ------------------------------------------------- */

/* -------------- Partners Section ---------------- */
#partners_section {
    background-color: var(--gray);
    z-index: 2;
    box-shadow: 0 .25em 1.2em .25em var(--heavy-shadow);
}

#partners_title h2 {
    display: flex;
    color: var(--white);
}

#partners_title h2 i {
    color: var(--green);
    font-size: 1.1em;
    margin-left: .4em;
}

#partners_title p {
    color: var(--light-gray);
    font-weight: 500!important;
}

#partners_title p span {
    color: var(--green);
}

#partners_companies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4em;
    width: 100%;
}

#partners_companies:has(.company_img:hover) .company_img:not(:hover) {
    transform: scale(0.95);
    filter: brightness(.2);
}

.company_img {
    height: 10em;
    flex-basis: 15em;

    overflow: hidden;
    border-radius: 1em;

    box-shadow: 0 .25em 1em .25em var(--light-shadow);

    transition: 500ms;
}

.company_img:hover {
    transform: scale(1.05);
    filter: brightness(150%);
    box-shadow: 0 0 1.5em .25em var(--light-gray);
}

.company_img figure, .company_img figure img {
    height: 100%;
    width: 100%;
}

.company_img figure img {
    object-fit: cover;
}
/* ------------------------------------------------- */
/* [].forEach.call($$("*"),function(a){a.style.outline="1px solid #"+(~~(Math.random()*(1<<24))).toString(16)})
*/
/* ----------------- Faq Section ------------------ */
#faq_section {
    background-color: var(--dark-green);
}

#faq_title h2 {
    color: var(--white);
    text-align: center;
}

#faq_title h2 i {
    color: var(--light-green);
}

#faq_section form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0;
    padding-inline: 12em;

    width: 100%;
}

.input_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: .5em;
}

.input_container_small {
    width: 50%;
}

.input_container_large {
    width: 100%;
    
    margin: 1.2em 0;
}

.faq_label {
    font-family: var(--highlight-font);
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: .08em;
    color: var(--white);
}

.form_input {
    font-family: var(--text-font);
    font-weight: 500;

    border-radius: .25em;
    border: none;
    outline: none;
    padding: .8em;
    
    transition: 500ms;

    box-shadow: 0 .4em .8em .1em var(--light-shadow);
}

.form_input:focus {
    box-shadow: 0 .2em .8em .05em var(--light-green);
}

.form_input::placeholder {
    font-style: italic;
}

#name_input {
    width: 90%;
}

#email_input {
    width: 100%;
}

#desc_input {
    height: 12em;
    width: 100%;
    resize: none;
}

#form_button {
    display: flex;
    align-items: center;
    background-color: var(--white);
    color: var(--black);
    box-shadow: 0 .4em .8em .1em var(--light-shadow);
}

#form_button:hover {
    color: var(--light-green);
    background-color: var(--dark-gray);
}

#form_button i {
    margin-left: .15em;
}