@media (max-width: 778px) {
    /* Header */
    header {
        flex-direction: column;
        gap: 1.4em;
        
        height: auto;

        padding: 4%;
    }

    #menu ul {
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    /* Presentation Section */
    #presentation_section #presentation_content {
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 2.2em;
        padding: 4em;
    }
    #alert-text {
        align-items: center;
        text-align: center;
    }
    #alert-text button {
        font-size: .8em;
        padding: .8em .6em;
    }
    #alert-text p {
        text-align: center;
    }
    /* HowWorks Section */
    .section_title_container h2 {
        font-size: 1.8em;
    }
    .section_title_container p {
        font-size: .9em;
    }
    #howworks_steps {
        flex-direction: column;
        gap: 3em;
    }
    .step_card {
        flex-direction: row;
        width: 100%!important;
        gap: 2em;
    }
    .card_icon {
        height: 4em;
        width: 4em;
        padding: .8em;
    }
    .card_icon i {
        font-size: 2.4em;
    }
}

@media (max-width: 1168px) {
    /* Header */
    #logo a i {
        font-size: 2.5em;
    }
    #logo a span {
        font-size: 1.2em;
    }
    #menu ul li a {
        font-size: .8em;
    }
    #login-button {
        font-size: .8em;
    }
    /* Presentation Section*/
    #alert-text h1 {
        font-size: 1.6em;
    }
    #alert-text p {
        font-size: .8em;
    }
    #alert-text button {
        font-size: .8em;
    }
    /* HowWorks Section */
    .step_card {
        width: 25%;
    }
}