@media (max-width: 778px) {
    header {
        flex-direction: column;
        gap: 1.4em;
        
        height: auto;

        padding: 4%;
    }

    #menu ul {
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
}

@media (max-width: 1168px) {
    #logo a i {
        font-size: 2.5em;
    }
    #logo a span {
        font-size: 1.2em;
    }
    #menu ul li a {
        font-size: .8em;
    }
    #login-button {
        font-size: .8em;
    }
}